    <footer>
        <div class="footer">
            <ul class="footer__list hide">
                <li class="footer__list__item"><a href="#">Home</a></li>
                <li class="footer__list__item"><a href="#">About</a></li>
                <li class="footer__list__item"><a href="#">Contact</a></li>
                <li class="footer__list__item"><a href="#">Privacy Policy</a></li>
            </ul>
            <div class="footer__copyright">
                <div class="tmdb_logo">
                    <p><img src="https://www.themoviedb.org/assets/1/v4/logos/208x226-stacked-green-9484383bd9853615c113f020def5cbe27f6d08a84ff834f41371f223ebad4a3c.png" alt="" width="50px"  style="float: left; margin-right: 10px;">
                    This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
                </div>
                <p>Copyright &copy;2018, All Right Reserved</p>
            </div>
        </div>

    </footer>

</body>
</html>