<% include partials/header %>
    <style>
        .content__list{
            width:100%;
            background:rgba(152, 151, 151, 0.577);
            padding: 0
        }
        .content__list__item {
            font-size: 24px;
            list-style: none;
        }
        
        .content__list:nth-child(odd) {
            background: rgba(89, 87, 87, 0.577);
        }

        .content__list__item:hover {
            color: blue;
        }
    </style>
    <main>
        <div class="show hide">
            <span class="close">X</span>
            <div class="show__content"></div>
        </div>
        <div class="content__title">RECENT MOVIE<hr></div>
        <div style="text-align:center" >
            <a href="new" class="search__button">find more</a> 
        </div>
        <div id="content1" class="content">
        </div>
        <div class="content__title">RECENT POST<hr></div>
        <div class="content">
            <% for(let i=0; i<comments.length; i++){%>
            <div class="content__list" data-movieId="<%= comments[i].movie%>">
                <div class="content__list__item">
                    <p style="margin:0"><a href="/post/<%=comments[i]._id %>"><img src="<%= comments[i].img%>" alt="" height="90px" width="60px" style="float:left;"><%= comments[i].title%></a></p>
                </div>
            </div>
            <% }%>
        </div>
    </main>

<% include partials/footer %>
<script>
const show = document.querySelector(".show")
const showContent = document.querySelector(".show__content")
const showCloseBtn = show.querySelector(".close")
const content = document.querySelector("#content1")
function createContetCard(data){
    const movieCard = document.createElement("div")
    movieCard.classList.add("content__card")
    movieCard.classList.add("small")
    movieCard.classList.add("hide")
    movieCard.id = data.id
    movieCard.innerHTML=`
    <div class="placeholder small">
        <img src="https://image.tmdb.org/t/p/w200/${data.poster_path}" alt="no pic" height="180px" width="120px" class="content__card__img">
    </div>
    <h3 class="content__card__title">${data.original_title}</h3>
    `
    content.appendChild(movieCard)
    setTimeout(()=>{
        movieCard.classList.remove("hide")
    },200)
}

function recentMovie(){
    const url ="/recentMovie/1"
    fetch(url)
    .then(res=>res.json())
    .then(res=>{
        content.innerHTML=""
        for(let i=0; i<10; i++){
            createContetCard(res.results[i])
        }
    })
}

function closeShow(){
    show.classList.add("hide")
    showContent.innerHTML=""
}
showCloseBtn.addEventListener("click",closeShow)
recentMovie()
</script>