<% include partials/header %>
    <main>
        <div class="content">
            <div class="content__title">
                <i class="fas fa-user" ></i>
                login
                <hr>
            </div>       
            <div class="login">
                <form action="" class="login__form">
                    <div class="login__form__item">
                        <p>username</p><input type="text" name="username" id="">
                    </div>
                    <div class="login__form__item">
                        <p>password</p>
                        <input type="text">
                    </div>
                    <button class="login__form__button">login</button>
                </form>
            </div>
            <div style="height:100vh"></div>
        </div>
    </main>
    <script src="../app/login.js"></script>
<% include partials/footer%>