<% include partials/header %>
    <main>
        <div class="content">
            <div class="content__title">
                <i class="fas fa-user" ></i>
                login
                <hr>
            </div>       
            <div class="login">
                <form action="/login" class="login__form" method="POST">
                    <div class="login__form__item">
                        <p>username</p><input type="text" name="username" id="" autocomplete="off">
                    </div>
                    <div class="login__form__item">
                        <p>password</p>
                        <input type="password" name="password" autocomplete="off">
                    </div>
                    <button class="login__form__button btn submit_btn">login</button>
                </form>
            </div>
            <div style="height:100vh"></div>
        </div>
    </main>
<% include partials/footer%>