<% include partials/header %>
    <main>
        <div class="content">
            <div class="content__title">
                <p>Welcome <%= currentUser.username %></p>
                <div >
                    <% if(currentUser.img){ %>
                        <img src="<%%>" alt="nopic"/>
                    <% }else{ %>
                        <i class="fas fa-user"></i>
                    <% } %>
                </div>
                <hr>
            </div>
            <div class="collection">
                <div class="collection__title">
                    <div data-link="post">MY POST</div>
                    <div data-link="friend">my friends</div>
                    <div data-link="password">change password</div>
                </div>
                <div id="post" class="collection__item">
                    <div class="collection__content">
                    <% if(post){ %>
                        <%for(let i=0; i<post.length; i++){%>
                        <div class="content__card">
                            <div class="content__card__title"><%=post[i].title%></div>
                            rate : <%= post[i].rate%>
                            <div class="placeholder">
                                <img class="content__card__img" src="<%=post[i].imgUrl%>" alt="nopic">
                            </div>
                        </div>
                    <% }}%>
                    </div>
                </div>
                <div id="friend" class="collection__item none">
                    <div class="collection__content">
                        <div class="friend">
                            <div class="friend__name">Tom</div>
                            <div class="friend_img">
                                <img src="" alt="nopic">
                            </div>
                        </div>
                        <div class="friend">
                            <div class="friend__name">Jimmy</div>
                            <div class="friend_img">
                                <img src="" alt="nopic">
                            </div>
                        </div>
                        <div class="friend">
                            <div class="friend__name">Sara</div>
                            <div class="friend_img">
                                <img src="" alt="nopic">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="password" class="collection__item none">
                    <div class="collection__content">
                        <form action="">
                            <div>
                                    old password
                                <input type="text">
                            </div>
                            <div>
                                new password
                                <input type="text">
                            </div>
                            <button>submit</button>
                        </form>
                    </div>
                </div>            
            </div>
        </div>
    </main>
    <script src="../app/user.js"></script>
<% include partials/footer%>