body {
    margin:0;
    background-color:rgb(7, 7, 7);
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to right, rgb(206, 0, 0), rgb(247, 154, 14), rgb(206, 0, 0));;;
    background-repeat: no-repeat;
    background-size: 100vw 100vh; 
    background-attachment: fixed;
    background-color: black; 
    width: 100vw;
}

.show {
    width: 90vw;
    height: 90vh;
    position: fixed;
    left: 5vw;
    top: 5vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.639);
    overflow: auto;
    color: white;
    transition: 0.2s;
    font-size: 2em;
    text-align: center;
    padding-top: 3rem; 
}

.show__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show__content__card {
    height: 150px;
    width: 200px;
    margin: 0 5% 5% 5%;
    box-sizing: border-box;
}

.close{
    width: 20px;
    height: 20px;
    position: fixed;
    background: rgb(191, 52, 52);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    right:5vw;
    top: 3rem; 
}

.close:hover{
    cursor: pointer;
    filter:brightness(1.4)
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 4rem;
    background: linear-gradient(to right, rgb(2, 2, 2), rgb(121, 120, 120), rgb(2, 2, 2));;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    user-select: none;
    font-size: 12px;
}

.navbr__brand {
    font-size: 1em;
    font-weight: bolder;
}

.navbar__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__list__item {
    list-style: none;
    margin:5px;
    font-weight: bold;
    box-sizing: border-box;
}

.navbar__list__item>a:hover{
    color: rgb(240, 233, 12);
    cursor: pointer;
}

.jumbotron {
    background: url("../img/felix-mooneeram-222805-unsplash-compressor.jpg") no-repeat center;
    background-size: 100% auto;
    background-color:black; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.jumbotron >*{
    animation: fadein;
    animation-duration: 3s;
}

.search {
    min-width: 180px;
    width: 50%;
    display: flex;
    box-shadow: 0px 0px 40px rgb(218, 217, 217);
    transition: transform 0.2s;
    font-size: 10px;
}

.search__input{
    width: 70%;
    border: none;
    padding: 0 0 0 10px;
    font-size: 12px;
}

.search__button{
    color: white;
    width: 30%;
    border: none;
    background: rgb(29, 196, 29);
    font-size: 12px;
}

.search__button:active {
    background: rgb(65, 48, 250);
}

.content {
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    padding-bottom: 20px;
}

.content__title {
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4.5rem;
}

.content__card {
    width: 220px;
    margin: 20px;
    box-sizing: border-box;
    background: white;
    transform: scale(0.98);
    transition: 0.5s;
    position: relative;
}

.content__card:hover{
    transform: scale(1);
    filter:brightness(1.1)
}

.content__card__img {
    max-width: 220px;
    height: auto;
    border: 1px solid white;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.placeholder {
    height: 300px;
    margin: 0;
    background: url("../img/denise-jans-559588-unsplash.jpg") no-repeat center;
    cursor: pointer;
}

.small {
    height: auto;
    width: 200px;
}

.content__card__title {
    text-align: center;
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.content__card__text {
    position: relative;
    height: inherit;
    margin: 5px 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-bottom: 1rem;
}

.content__card__text::before {
    content: "click to read more";
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.content__card__text:hover::before {
    visibility: visible;
    opacity: 1;
  }

.content__list{
    width:100%;
    background:rgba(152, 151, 151, 0.577);
    padding: 0
}
.content__list__item {
    font-size: 24px;
    list-style: none;
}

.content__list:nth-child(odd) {
    background: rgba(89, 87, 87, 0.577);
}

.content__list__item:hover {
    color: blue;
}

.footer {
    background: rgb(131, 126, 126);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    user-select: none;
    position: relative;
    bottom: 0;
    font-size: 12px;
    flex-direction: column;
}

.footer__list {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer__list__item {
    list-style: none;
    margin:0 10px;
    font-size: inherit;
    font-weight: bold;
}

.footer__copyright {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.footer__list__item>a:hover{
    color: rgb(240, 233, 12);
    cursor: pointer;
}

.tmdb_logo {
    display: flex;
}

.hide {
    transform: scale(0,0);
    opacity:0;
}



@keyframes fadein {
    0%{
        opacity: 0;
        transform: translate(0,35px)
    }

    100%{
        opacity: 1;
        transform: translate(0,0)
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


.content__card__text_toggle:checked +p{
    height: auto;
    white-space:normal;
}
.content__card__text_toggle:checked +.content__card__text::before {
    content: "click to read less"
}
/* login page css */

.login__form {
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.login__form__item {

}

.login__form__button {
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.collection {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.collection__item {
    width: 100%;
    display: flex;
    justify-content: center;

    top:20px
}

.collection__content {
    position: absolute;
    width: 100%;
    top:40px;
    left:0px;
    display: flex;
    align-items: center;

}

.collection__content__search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection__title:hover{
    color: white;
}

@media screen and (min-width:401px){
    .show__content__card {
        height: 300px;
        width: 400px;
    }

    .navbar {
        font-size: 16px;
        padding: 0 15px 0 15px;
    }

    .jumbotron {
        font-size: 24px;
    }

    .search__input,
    .search__button {
        font-size: 20px;
    }

    .footer {
        font-size: 16px;
    }
}
@media screen and (min-width:800px){
    .show__content__card {
        height: 360px;
        width: 640px;
    }

    .navbar {
        font-size: 20px;
        padding: 0 30px 0 30px;
    }
    .jumbotron {
        font-size: 32px;
    }
    
    .search__input,
    .search__button{
        font-size: 32px;
    }

    .footer {
        font-size: 20px;
    }
}
@media screen and (min-width:1680px){
    .show__content__card {
        height: 720px;
        width: 1280px;
    }

    .navbar {
        font-size: 24px;
        padding: 0 30px 0 30px;
    }

    .jumbotron {
        font-size: 36px;
    }

    .search__input,
    .search__button{
        font-size: 36px;
    }

    .footer {
        font-size: 24px;
    }
}