body {
    margin:0;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
    /* background: #780206;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #061161, #780206); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+     */ 
    /* background-repeat: no-repeat; */
    background-size: 100vw 100vh; 
    background-attachment: fixed;
    background-color: #F4F9E9; 
    width: 100vw;
}

.show {
    width: 90vw;
    height: 90vh;
    position: fixed;
    left: 5vw;
    top: 5vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
    overflow: auto;
    color: white;
    transition: 0.2s;
    font-size: 2em;
    text-align: center;
    padding-top: 3rem; 
}

.show__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show__content__card {
    height: 150px;
    width: 200px;
    margin: 0 5% 5% 5%;
    box-sizing: border-box;
}

.close{
    width: 20px;
    height: 20px;
    position: fixed;
    background: rgb(191, 52, 52);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    right:5vw;
    top: 3rem; 
}

.close:hover{
    cursor: pointer;
    filter:brightness(1.4)
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 4rem;
    /* background: linear-gradient(to right, rgb(2, 2, 2), rgb(121, 120, 120), rgb(2, 2, 2));; */
    background: #284B63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    user-select: none;
    font-size: 12px;
}

.navbr__brand {
    font-size: 1em;
    font-weight: bolder;
}

.navbar__list {
    margin-right: 20px;
    padding: 0;
    display: flex;
}

.navbar__list__item {
    list-style: none;
    margin:15px;
    font-weight: bold;
    box-sizing: border-box;
}

.navbar__list__item>a:hover{
    color: rgb(240, 233, 12);
    cursor: pointer;
}

#dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #284B63;
    z-index: 1;
}
#dropdown:hover .dropdown-content {display: block;}


.jumbotron {
    background: url("../img/felix-mooneeram-222805-unsplash-compressor.jpg") no-repeat center;
    background-size: 100% auto;
    background-color:black; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.jumbotron >*{
    animation: fadein;
    animation-duration: 3s;
}

.search {
    min-width: 180px;
    width: 50%;
    display: flex;
    box-shadow: 0px 0px 40px rgb(218, 217, 217);
    transition: transform 0.2s;
    font-size: 10px;
}

.search__input{
    width: 70%;
    border: none;
    padding: 0 0 0 10px;
    font-size: 12px;
}

.search__button{
    color: white;
    width: 30%;
    border: none;
    background: #153243;
    font-size: 20px;
}

.search__button:active {
    background: rgb(65, 48, 250);
}

.content {
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    padding-bottom: 20px;
}

.content__title {
    width: 100%;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4.5rem;
}

.content__card {
    width: 220px;
    margin: 20px;
    box-sizing: border-box;
    background: #EEF0EB;
    transform: scale(0.98);
    transition: 0.5s;
    position: relative;
}

.content__card:hover{
    transform: scale(1);
    filter:brightness(1.1)
}

.content__card__img {
    max-width: 220px;
    height: auto;
    border: 1px solid white;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.placeholder {
    min-height: 200px;
    margin: 0;
    background: url("../img/denise-jans-559588-unsplash.jpg") no-repeat center;
    cursor: pointer;
    border: 10px solid black;
}

.small {
    width: 200px;
}

.content__card__title {
    text-align: center;
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.content__card__text {
    position: relative;
    height: inherit;
    margin: 5px 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-bottom: 1rem;
}

.content__card__text::before {
    content: "click to read more";
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.content__card__text:hover::before {
    visibility: visible;
    opacity: 1;
  }

.content__list{
    width:100%;
    background:rgba(152, 151, 151, 0.577);
    padding: 0
}
.content__list__item {
    font-size: 24px;
    list-style: none;
}

.content__list:nth-child(odd) {
    background: rgba(89, 87, 87, 0.577);
}

.content__list__item:hover {
    color: blue;
}

.footer {
    background: #153243;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    user-select: none;
    position: relative;
    bottom: 0;
    font-size: 12px;
    flex-direction: column;
}

.footer__list {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer__list__item {
    list-style: none;
    margin:0 10px;
    font-size: inherit;
    font-weight: bold;
}

.footer__copyright {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

.footer__list__item>a:hover{
    color: rgb(240, 233, 12);
    cursor: pointer;
}

.tmdb_logo {
    display: flex;
}

.hide {
    transform: scale(0,0);
    opacity:0;
}

.none {
    display: none;
}

.post {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 10px;
}

.post__head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.783);
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
}

.post__title {
    width: 90%;
}

.post__message {
    padding: 15px;
    min-height: 80vh;
}

.comments {
    background: rgba(180, 184, 171, 0.166);
    box-sizing: border-box;
    padding: 20px;
    min-height: 10vh;
}
.comment {
    margin: 5px;
    padding: 5px;
    background: rgb(27, 50, 66);
}

.comment:nth-child(even){
    background: #284B63;
}

.comments__form {
    width: 80%;
}

.comments__head {
    display: flex;
    justify-content: space-between    
}
.comment_edit_show {
    width: 90vw;
    height: 90vh;
    position: fixed;
    left: 5vw;
    top: 5vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.639);
    overflow: auto;
    color: white;
    transition: 0.2s;
    font-size: 2em;
    text-align: center;
    padding-top: 3rem; 
    }
    .comments_edit_form {
        width: 80%;
    }
@keyframes fadein {
    0%{
        opacity: 0;
        transform: translate(0,35px)
    }

    100%{
        opacity: 1;
        transform: translate(0,0)
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0), rgba(255, 255, 255, 0));
}


.content__card__text_toggle:checked +p{
    height: auto;
    white-space:normal;
}
.content__card__text_toggle:checked +.content__card__text::before {
    content: "click to read less"
}
/* login page css */

.login__form {
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.login__form__item {
    height: auto;
}

.login__form__button {
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.collection {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.collection__title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-weight: bolder;
    color: #284B63
}
.collection__title>*:hover {
    filter:brightness(1.4)
}

.collection__item {
    width: 100%;
}

.collection__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user_control {
    display: flex;
    float: right;
    width: 150px;
    justify-content: space-around
}

.delete_btn {
    font-size: 20px;
    background: red;
    color: white;
}
.edit_btn {
    font-size: 20px;
    background: orange;
    color: white;
}

.submit_btn {
    font-size: 20px;
    background: rgb(0, 81, 255);
    color: white;  
}

.btn {
    cursor: pointer;
}
.btn:hover {
    filter: brightness(1.2);
}

@media screen and (min-width:401px){
    .show__content__card {
        height: 300px;
        width: 400px;
    }

    .navbar {
        font-size: 16px;
        padding: 0 15px 0 15px;
    }

    .jumbotron {
        font-size: 24px;
    }

    .search__input,
    .search__button {
        font-size: 20px;
    }

    .footer {
        font-size: 16px;
    }
}
@media screen and (min-width:800px){
    .show__content__card {
        height: 360px;
        width: 640px;
    }

    .navbar {
        font-size: 20px;
        padding: 0 30px 0 30px;
    }
    .jumbotron {
        font-size: 32px;
    }
    
    .search__input,
    .search__button{
        font-size: 32px;
    }

    .footer {
        font-size: 20px;
    }
}
@media screen and (min-width:1680px){
    .show__content__card {
        height: 720px;
        width: 1280px;
    }

    .navbar {
        font-size: 24px;
        padding: 0 30px 0 30px;
    }

    .jumbotron {
        font-size: 36px;
    }

    .search__input,
    .search__button{
        font-size: 36px;
    }

    .footer {
        font-size: 24px;
    }
}