<% include ../partials/header %>
<main>
    <div class="content__title">RECENT POST<hr></div>
    <div class="content">
        <% for(let i=0; i<allPosts.length; i++){%>
        <div class="content__list" data-movieId="<%= allPosts[i].movieId%>">
            <div class="content__list__item">
                <p style="margin:0"><a href="/posts/<%=allPosts[i]._id %>"><img src="<%= allPosts[i].imgUrl%>" alt="" height="90px" width="60px" style="float:left;"><%= allPosts[i].title%></a></p>
            </div>
        </div>
        <% }%>
    </div>
</main>
<% include ../partials/footer %>